@import 'variables';

.aplicativo-detalhe {
  .titulo-aplicativo {
    margin-left: 40px;
  }
    
  .url {
    padding-left: 40px;
  }

  .detalhe-pop1 {
    margin: 0px;
    padding: 0px 40px;

    h3 {
      font-size: 23px;
      text-align: center;
    }
  }

  .label {
    font-weight: bold;
    text-align: right;
    padding-right: 10px;
  }

  .status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .status.up {
    background-color: $color-status-up;
  }
  .status.down {
    background-color: $color-status-down;
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }

}
