@import 'variables';
@import 'app-detalhe';
@import 'app-form';
@import 'atualizacao-display';
@import 'card';
@import 'grid';
@import 'header';
@import 'loading';
@import 'mensagens';
@import 'menu';
@import 'server-grid';
@import 'server-table';

.label {
  font-weight: bold;
  text-align: right;
  padding-right: 10px;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.status.up {
  background-color: $color-status-up;
}
.status.down {
  background-color: $color-status-down;
}
.status.unstable {
  background-color: $color-status-unstable;
}

table {
  margin-left: auto;
  margin-right: auto;
}

footer {
  text-align: center;
  color: #33F;
}