.aplicativo-detalhe .titulo-aplicativo {
  margin-left: 40px; }

.aplicativo-detalhe .url {
  padding-left: 40px; }

.aplicativo-detalhe .detalhes {
  margin: 0px;
  padding: 0px 40px; }
  .aplicativo-detalhe .detalhes h3 {
    font-size: 23px;
    text-align: center; }

.aplicativo-form {
  position: absolute;
  bottom: 10px;
  margin-left: 20px; }
  .aplicativo-form .esconde {
    display: none; }
  .aplicativo-form .acao-incluir {
    position: fixed;
    bottom: 10px;
    right: 10px; }
  .aplicativo-form .input-grande {
    width: 400px; }

.atualizacao-display {
  position: absolute;
  right: 10px; }

.app-card.mdl-card {
  min-height: initial; }

.app-card.ativo {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 8px -10px rgba(0, 0, 0, 0.2), 0 13px 17px 0 rgba(0, 0, 0, 0.18); }
  .app-card.ativo .mdl-card__supporting-text {
    display: block;
    opacity: 1; }
  .app-card.ativo .app-rodape {
    display: block; }

.app-card a:link {
  text-decoration: none; }

.app-card .mdl-card__supporting-text {
  padding-top: 0px;
  padding-bottom: 0px;
  display: none;
  opacity: 0;
  transition: display 0s, opacity 0.5s linear; }

.app-card .mdl-card__title-text {
  color: #fff;
  font-size: 16px; }

.app-card .detalhes-app {
  padding-left: 5px; }

.app-card .detalhes-app li {
  list-style-type: none; }

.app-card .status-down {
  background-color: #f44336; }

.app-card .status-up {
  background-color: #009688; }

.app-card .status-unstable {
  background-color: #ffc107; }

.app-card .status-undefined {
  background-color: #999; }

.app-card .status-timeout {
  background-color: #ccc; }

.app-card .app-rodape {
  font-size: 11px;
  color: grey;
  letter-spacing: 0.2px;
  display: none; }

.app-card .mdl-card__menu {
  color: #fff;
  font-size: 80%;
  top: 5px; }
  .app-card .mdl-card__menu .material-icons {
    font-size: 20px; }

.app-card .nodes {
  position: relative;
  right: -11px; }
  .app-card .nodes .node {
    width: 8px;
    height: 8px;
    border-radius: 7px;
    border: 2px solid white;
    float: right;
    margin-left: 1px; }
    .app-card .nodes .node.status-down {
      background-color: #f44336; }
    .app-card .nodes .node.status-up {
      background-color: #009688; }
    .app-card .nodes .node.status-unstable {
      background-color: #ffc107; }
    .app-card .nodes .node.status-undefined {
      background-color: #999; }

.app-card .servico-calculo {
  position: absolute;
  margin-left: -15px; }
  .app-card .servico-calculo .material-icons {
    font-size: 16px; }
    .app-card .servico-calculo .material-icons.down {
      color: red; }

.app-grid {
  margin-top: 30px; }

.header .mdl-navigation__link {
  font-weight: 900;
  font-size: 18px; }

.header .logo {
  height: 80%;
  margin-left: -60px; }

.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%; }

.loader {
  position: relative;
  margin: 0px auto;
  width: 100px; }
  .loader:before {
    content: '';
    display: block;
    padding-top: 100%; }

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes dash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px; } }

@keyframes color {
  100%, 0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80%, 90% {
    stroke: #ffa700; } }

.mensagens .lista-mensagens {
  width: 400px;
  height: 500px;
  overflow: auto;
  position: absolute;
  color: black;
  right: 40px;
  margin-top: 20px;
  background-color: white; }
  .mensagens .lista-mensagens .mdl-card__title {
    color: grey; }
  .mensagens .lista-mensagens ul {
    padding: 0px;
    margin: 2px;
    list-style-type: none; }
  .mensagens .lista-mensagens li {
    padding: 5px;
    border-bottom: 1px solid #e9e9e9; }
    .mensagens .lista-mensagens li .horario {
      font-size: 10px;
      color: #a9a9a9;
      text-align: right;
      height: 15px; }
    .mensagens .lista-mensagens li i {
      font-size: 16px; }
    .mensagens .lista-mensagens li .subiu i {
      color: green; }
    .mensagens .lista-mensagens li .caiu i {
      color: red; }
  .mensagens .lista-mensagens li.nao-lida {
    background-color: #ffffe0; }

.mensagens .rodape {
  font-size: 10px;
  color: #999999;
  padding: 5px; }

.menu a {
  text-decoration: none; }

.server-table .filters {
  text-align: center;
  margin: 30px; }
  .server-table .filters .field {
    display: inline;
    margin-left: 10px; }

.server-grid .server-card {
  width: 100%;
  min-height: 130px; }
  .server-grid .server-card .mdl-card__supporting-text {
    overflow: auto; }
  .server-grid .server-card .title {
    font-size: 16px;
    padding-bottom: 0;
    color: #777; }
  .server-grid .server-card .conteudo {
    padding: 0; }

.server-grid .status {
  width: 15px;
  height: 15px;
  border-radius: 50%; }

.server-grid table {
  width: 100%; }

.label {
  font-weight: bold;
  text-align: right;
  padding-right: 10px; }

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%; }

.status.up {
  background-color: #009688; }

.status.down {
  background-color: #f44336; }

.status.unstable {
  background-color: #ffc107; }

table {
  margin-left: auto;
  margin-right: auto; }

footer {
  text-align: center;
  color: #33F; }
